/* fonts */
@font-face {
    font-family: "Fuse";
    src: url(./assets/fonts/FuseV.2Display-Book.woff2);
}
@font-face {
    font-family: "Fuse-text";
    src: url(./assets/fonts/FuseV.2Text-Book.woff2);
}


/* colors */
:root{
    --yellow: #e2b714;
    --gray: #323437;
    --light-gray: rgb(100, 102, 105);
    --dirty-white: rgb(163, 162, 162);
}

:root{
    background-color: var(--gray);
    color: var(--dirty-white);
    font-family: "Fuse-text";
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
